@model MvcApplication1.Models.ProfileModel
@{
    ViewBag.Title = "CreateArticle";
}

<h2>Створити статтю</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Профіль", "Index", FormMethod.Get)</li>
        <li>@Html.ActionLink("Заявки", "Requests", FormMethod.Get)</li>
        <li>@Html.ActionLink("Знайти однодумців", "FindAssosiates", FormMethod.Get)</li>
    </ul>
</nav>
<div>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>

            @using (Html.BeginForm("saveArticleToDraft", "Profile", FormMethod.Post))
            {

                <p>
                    <h3>Article name    </h3>
                    <input type="submit" value="Edit article name" />
                </p>
                @Html.TextAreaFor(model => model.articleText, new { @placeholder = "Article text", @id = "area_article" })
                @Html.ValidationMessageFor(model => model.articleText)
                <p>
                    <button id="save_article_to_draft" onclick="hideButtSaveArticle(this)"> Save article to draft</button>
                </p>
                <script type='text/javascript'>
                    function hideButtSaveArticle(obj) {
                        document.getElementById("Save_Article_To_Draft").style.visibility = "hidden";
                        document.getElementById("area_article").style.visibility = "hidden";
                    }
                </script>
            }
            @using (Html.BeginForm("publishArticle", "Profile", FormMethod.Post))
            {
                @Html.ValidationMessageFor(model => model.articleText)

                <button id="publish_article" onclick="hidePublishButt(this)"> Publish article</button>
                <script type='text/javascript'>

                    function hidePublishButt(obj) {
                        document.getElementById("publish_article").style.visibility = "hidden";;
                    }
                </script>
            }
        </fieldset>

</div>
<div>
    @Html.ActionLink("Назад", "MyArticle")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
