@model MvcApplication1.Models.ProfileModel

@{
    ViewBag.Title = "Profile";
}

<h2>Редагування</h2>

<nav>
    <ul id="menu">
        @*<li>@Html.ActionLink("Профіль", "Index", FormMethod.Get)</li>*@
        <li>@Html.ActionLink("Мої статті", "CreateArticle", FormMethod.Get)</li>
        <li>@Html.ActionLink("Заявки", "Requests", FormMethod.Get)</li>  
        <li>@Html.ActionLink("Знайти однодумців", "FindAssosiates", FormMethod.Get)</li>      
    </ul>
</nav>
<div>
    @using (Html.BeginForm("ForProfileEditing", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProfileModel</legend>
        <p>
            @Html.TextBoxFor(model => model.Name, new { @placeholder = "Ім'я" })
            @Html.ValidationMessageFor(model => model.Name)
        </p>

        @*<div class="@((Model.flag_about_me)?"visible-item":"hidden-item")">Some links</div>*@

        <h3>Теги</h3>
        <p>
            @Html.LabelFor(model => model.MyTegs)
        </p>

        @*@using (Html.BeginForm("AddTeg", "Profile", FormMethod.Post))*@
        {
        <p>
            @Html.ListBoxFor(model => model.SelectedTeg, Model.TegList, new { size = 5 })
            <button type="submit" class="btn btn-default">+</button>
        </p>
        }

        <p>
            @Html.TextAreaFor(model => model.About_me, new { @placeholder = "Про мене" })
            @Html.ValidationMessageFor(model => model.About_me)
        </p>
    </fieldset>
    }
            @using (Html.BeginForm("Index", "Profile", FormMethod.Post))
            {
                <p>
                    <button>Зберегти зміни</button>
                </p>
            }
          

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}