@model MvcApplication1.Models.ProfileModel

@{
    ViewBag.Title = "Профіль";
}

<h2>Профіль</h2>@Html.ActionLink("Редагувати", "ForProfileEditing", FormMethod.Get)

<nav>
    <ul id="menu">
        <li class="my1">@Html.ActionLink("Мої статті", "MyArticle", FormMethod.Get)</li>

        <li>@Html.ActionLink("Заявки", "LoadStudentRequests", "Requests")</li> @*возможно тут нужно сделать проверку является ли пользователь ментрорм,
            если да - вызывать LoadMentorRequests*@
        <li>@Html.ActionLink("Чат", "Index", "Chat")</li>
        <li>@Html.ActionLink("Знайти однодумців", "Index", "FindAssosiates")</li> @*"FindAssosiates"*@
        <li>@Html.ActionLink("ааа", "пп")</li>

    </ul>
</nav>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container text-center">
    <div class="row">
            <a href="#" class="open-btn" id="addClass"><i class="fa fa-whatsapp" aria-hidden="true"></i> Click Here</a>
        </div>

       
</div>

<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar">
    <div class="popup-head">
        <div class="popup-head-left pull-left">
            <a design and developmenta title="Gurdeep Osahan (Web Designer)" target="_blank" href="https://web.facebook.com/iamgurdeeposahan">
                <img class="md-user-image" alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" title="Gurdeep Osahan (Web Designer)" alt="Gurdeep Osahan (Web Designer)">
                <h1>Gurdeep Osahan</h1><small><br> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Web Designer</small>
            </a>
        </div>
        <div class="popup-head-right pull-right">
            
            
                <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                    <i class="glyphicon glyphicon-paperclip"></i>
                </button>
                <ul role="menu" class="dropdown-menu pull-right">
                    <li><a href="#"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Photo</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Video</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Audio</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact</a></li>
                </ul>
            

            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
    <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
        <div class="chat_box touchscroll chat_box_colors_a">
            <div class="chat_message_wrapper">
                <div class="chat_user_avatar">
                    <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank">
                        <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="http://www.webncc.in/images/gurdeeposahan.jpg" class="md-user-image">
                    </a>
                </div>
                <ul class="chat_message">
                    <li>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                    </li>
                    <li>
                        <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                    </li>
                </ul>
            </div>
            <div class="chat_message_wrapper chat_message_right">
                <div class="chat_user_avatar">
                    <a href="https://web.facebook.com/iamgurdeeposahan" target="_blank">
                        <img alt="Gurdeep Osahan (Web Designer)" title="Gurdeep Osahan (Web Designer)" src="http://bootsnipp.com/img/avatars/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="md-user-image">
                    </a>
                </div>
                <ul class="chat_message">
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                            <span class="chat_message_time">13:34</span>
                        </p>
                    </li>
                </ul>
            </div>


        </div>
    </div>
    <div class="chat_submit_box">
        <div class="uk-input-group">
            
                    <div class="gurdeep-chat-box">
                        <span style="vertical-align: sub;" class="uk-input-group-addon">
                            <a href="#"><i class="fa fa-smile-o"></i></a>
                        </span>
                        <input type="text" placeholder="Type a message" id="submit_message" name="submit_message" class="md-input">
                        <span style="vertical-align: sub;" class="uk-input-group-addon">
                            <a href="#"><i class="fa fa-camera"></i></a>
                        </span>
                    </div>
                
                
                    <span class="uk-input-group-addon">
                        <a href="#"><i class="glyphicon glyphicon-send"></i></a>
                    </span>
             
        </div>
    </div>

</aside>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <div id="userphotoDiv">

                    <img id="userphotoImg" src="" /><br />
                    <div class="file is-boxed">
                        <label class="file-label">
                            @*<input class="file-input" type="file" name="resume">*@
                            <input type="file" id="uploadEditorImage" class="file-input" />
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                        </label>
                    </div>


                </div>

                <h2>Ім'я</h2>
                <span id="labelNameEdit" style="display:;" class="profileUserData">
                    <span value="" id="userName">@(Model.Name != null ? Model.Name : "")</span>
                </span>
                <input id="inputNameEdit" value="@(Model.Name != null ? Model.Name : "")" style="display:none; " />
                <input id="btnEditName" onclick="editName()" type="submit" value="" class="btn btnEdit" />

                <h3>Мої теги</h3>
                <div id="tegs"></div>


                <h3>Про мене</h3>
                <span id="labelAboutMeEdit" style="display:;" class="profileUserData">
                    <span value="" id="AboutMe">@(Model.About_me != null ? Model.About_me : "")</span>
                </span>
                <input id="inputAboutMeEdit" value="@(Model.About_me != null ? Model.About_me : "")" style="display:none; " />
                <input id="btnEditAboutMe" onclick="editAboutMe()" type="submit" value="" class="btn  btnEdit" />
            </div>

            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary dropdown-toggle" id="find" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Знайти
                        </button>
                        <div class="dropdown-menu" id="dropdown-menu">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-lg-6">
                @using (Html.BeginForm("Index", "Profile", FormMethod.Get))
                {
                    <input type="submit" value="Знайти ментора" />
                    @Html.TextBoxFor(m => m.searchMentor, new { placeholder = "Знайти ментора" })
                }
                @Html.Partial("Mentors", Model.mentors)
            </div>*@

    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script type="text/javascript">

            $("#userphotoDiv").ready(function () {
                $.ajax({
                    url: '@Url.Action("UploadPhoto", "Profile")',
                    type: "GET",

                    success: function (response) {

                        document.getElementById("userphotoImg").src = "data:image/png;base64," + response;

                    },
                    error: function (er) {
                        // alert(er);
                    }

                });
            });

            $("#uploadEditorImage").change(function () {
                //console.log("1 - photo")
                var data = new FormData();
                var files = $("#uploadEditorImage").get(0).files;
                if (files.length > 0) {
                    data.append("HelpSectionImages", files[0]);
                }
                $.ajax({
                    url: '@Url.Action("EditPhoto", "Edit")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {

                        document.getElementById("userphotoImg").src = "data:image/png;base64," + response;

                    },
                    error: function (er) {
                        // alert(er);
                    }

                });
            });

            function editName() {
                //console.log("1");


                if (document.getElementById('labelNameEdit').style.display == "none") {
                    document.getElementById('labelNameEdit').style.display = "";
                    document.getElementById('inputNameEdit').style.display = "none";
                    var uName = document.getElementById('inputNameEdit').value;
                    //console.log("name", uName);
                    var data = {
                        username: uName
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditName", "Edit")',
                        dataType: "text",
                        data: data,
                        success: function (d) {
                            //if (d.success ==true)
                            $('#userName').text(d);
                            //$('#p').remove();
                            // $('<span id="userName"></span>').after('<span id="labelNameEdit" style="display:;">');

                            //console.log("replace", d)
                            //console.log("hhh", $('#userName').val(d));
                        }

                    });
                }
                else {
                    document.getElementById('labelNameEdit').style.display = "none";
                    document.getElementById('inputNameEdit').style.display = "";
                }



            }

            function editAboutMe() {
                //console.log("1");


                if (document.getElementById('labelAboutMeEdit').style.display == "none") {
                    document.getElementById('labelAboutMeEdit').style.display = "";
                    document.getElementById('inputAboutMeEdit').style.display = "none";
                    var AboutMe = document.getElementById('inputAboutMeEdit').value;
                    console.log("AboutMe", AboutMe);
                    var data = {
                        AboutMe: AboutMe
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditAboutMe", "Edit")',
                        dataType: "text",
                        data: data,
                        success: function (d) {

                            $('#AboutMe').text(d);

                        }

                    });
                }
                else {
                    document.getElementById('labelAboutMeEdit').style.display = "none";
                    document.getElementById('inputAboutMeEdit').style.display = "";
                }
            }

            function AddTeg() {
                console.log("1 - add teg");

                if (document.getElementById('inputAddTeg').style.display != "none") {
                    document.getElementById('inputAddTeg').style.display = "none";

                    var addTeg = document.getElementById('inputAddTeg').value;
                    console.log("AboutMe", AboutMe);
                    var data = {
                        addTeg: addTeg
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Tegs", "Edit")',
                        dataType: "text",
                        data: data,
                        success: function (d) {
                            console.log("2 - add teg");

                            $('#tegs').replaceWith(d);

                        }

                    });
                }
                else {
                    document.getElementById('inputAddTeg').style.display = "";
                }
            }

            function removeTeg(obj) {
                var teg = $(obj).parent().attr('id');
                console.log("1 delete teg", $(obj).parent().attr('id'));

                var data = {
                    removeTeg: teg
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RemoveTegs", "Edit")',
                    dataType: "text",
                    data: data,
                    success: function (d) {
                        console.log("2 delete teg", d);
                        $('#tegs').replaceWith(d);

                    }

                });
            }

            $("#tegs").ready(function () {
                //console.log("1 ready tegs");
                $.ajax({
                    url: '@Url.Action("Tegs", "Edit")',
                    type: "GET",
                    success: function (d) {
                        //console.log("2 ready tegs");
                        $('#tegs').replaceWith(d);
                        //console.log("2 ready tegs", d);

                    },
                    error: function (er) {
                        // alert(er);
                    }

                });
            });
            var i = 1;
            $("#find").click(function () {
                if (i % 2 != 0) {
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetMentorList", "Profile")',
                        success: function (d) {
                            $('#dropdown-menu').replaceWith(d);
                        }

                    });
                    $(".dropdown-menu").show();
                }
                else $(".dropdown-menu").hide();
                i++;
            });
            $("#addClass").click(function () {
                console.log('1');
                $('#sidebar_secondary').addClass('popup-box-on');
            });

            $("#removeClass").click(function () {
                $('#sidebar_secondary').removeClass('popup-box-on');
            });
            $(function () {
                $("#addClass").click(function () {
                    $('#sidebar_secondary').addClass('popup-box-on');
                });

                $("#removeClass").click(function () {
                    $('#sidebar_secondary').removeClass('popup-box-on');
                });
            })
        </script>
    }
