@model MvcApplication1.Models.ProfileModel

@{
    ViewBag.Title = "Профіль";
}

<h2>Профіль</h2>@Html.ActionLink("Редагувати", "ForProfileEditing", FormMethod.Get)

<nav>
    <ul id="menu">
        <li class="my1">@Html.ActionLink("Мої статті", "Index", "Article", FormMethod.Get)</li>

        <li>@Html.ActionLink("Заявки", "LoadStudentRequests", "Requests")</li> @*возможно тут нужно сделать проверку является ли пользователь ментрорм,
            если да - вызывать LoadMentorRequests*@
        <li>@Html.ActionLink("Чат", "Index", "Chat")</li>
        <li>@Html.ActionLink("Знайти однодумців", "Index", "FindAssosiates")</li> @*"FindAssosiates"*@

    </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-6">

            <div id="userphotoDiv">

                <img id="userphotoImg" style='width:200px; height:180px;' src=""/><br />
                <input type="file" id="uploadEditorImage" class="btn btn-success btn-file"/> 
                            
            </div>

            <h2>Ім'я</h2>
            <span id="labelNameEdit" style="display:;" class="profileUserData">                
                <span value="" id="userName" >@(Model.Name != null ? Model.Name : "")</span>
            </span>
            <input id="inputNameEdit" value="@(Model.Name != null ? Model.Name : "")" style="display:none; " />
            <input id="btnEditName" onclick="editName()" type="submit" value="" class="btn btnEdit" />
                                   
            <h3>Мої теги</h3>
            <div id="tegs"></div>
              
                        
            <h3>Про мене</h3>
            <span id="labelAboutMeEdit" style="display:;" class="profileUserData">
                <span value="" id="AboutMe" >@(Model.About_me != null ? Model.About_me : "")</span>
            </span>
            <input id="inputAboutMeEdit" value="@(Model.About_me != null ? Model.About_me : "")" style="display:none; " />
            <input id="btnEditAboutMe" onclick="editAboutMe()" type="submit" value="" class="btn  btnEdit" />
        </div>
        <div class="col-lg-6">
            @using (Html.BeginForm("Index", "Profile", FormMethod.Get))
            {
                <input type="submit" value="Знайти ментора" />
                @Html.TextBoxFor(m => m.searchMentor, new { placeholder = "Знайти ментора" })
            }
            @Html.Partial("Mentors", Model.mentors)
        </div>
    </div>
</div>
                
            
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript">

        $("#userphotoDiv").ready(function () {
            $.ajax({
                url: '@Url.Action("UploadPhoto", "Profile")',
                type: "GET",
            
                success: function (response) {
                
                    document.getElementById("userphotoImg").src = "data:image/png;base64," + response;

                },
                error: function (er) {
                    // alert(er);
                }

            });
        });

        $("#uploadEditorImage").change(function () {
            //console.log("1 - photo")
            var data = new FormData();
            var files = $("#uploadEditorImage").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
            }
            $.ajax({
                url: '@Url.Action("EditPhoto", "Edit")',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    
                    document.getElementById("userphotoImg").src = "data:image/png;base64," + response;

                },
                error: function (er) {
                    // alert(er);
                }

            });
        });

        function editName() {
            //console.log("1");


            if (document.getElementById('labelNameEdit').style.display == "none") {
                document.getElementById('labelNameEdit').style.display = "";
                document.getElementById('inputNameEdit').style.display = "none";
                var uName = document.getElementById('inputNameEdit').value;
                //console.log("name", uName);
                var data = {
                    username: uName
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditName", "Edit")',
                    dataType: "text",
                    data: data,
                    success: function (d) {
                        //if (d.success ==true)
                        $('#userName').text(d);
                        //$('#p').remove();
                        // $('<span id="userName"></span>').after('<span id="labelNameEdit" style="display:;">');

                        //console.log("replace", d)
                        //console.log("hhh", $('#userName').val(d));
                    }

                });
            }
            else {
                document.getElementById('labelNameEdit').style.display = "none";
                document.getElementById('inputNameEdit').style.display = "";
            }



        }

        function editAboutMe() {
            //console.log("1");


            if (document.getElementById('labelAboutMeEdit').style.display == "none") {
                document.getElementById('labelAboutMeEdit').style.display = "";
                document.getElementById('inputAboutMeEdit').style.display = "none";
                var AboutMe = document.getElementById('inputAboutMeEdit').value;
                console.log("AboutMe", AboutMe);
                var data = {
                    AboutMe: AboutMe
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditAboutMe", "Edit")',
                    dataType: "text",
                    data: data,
                    success: function (d) {
                        
                        $('#AboutMe').text(d);
                        
                    }

                });
            }
            else {
                document.getElementById('labelAboutMeEdit').style.display = "none";
                document.getElementById('inputAboutMeEdit').style.display = "";
            }
        }

        function AddTeg() {
            console.log("1 - add teg");

            if (document.getElementById('inputAddTeg').style.display != "none") {
                document.getElementById('inputAddTeg').style.display = "none";
                
                var addTeg = document.getElementById('inputAddTeg').value;
                console.log("AboutMe", AboutMe);
                var data = {
                    addTeg: addTeg
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Tegs", "Edit")',
                    dataType: "text",
                    data: data,
                    success: function (d) {
                        console.log("2 - add teg");
                        
                        $('#tegs').replaceWith(d);
                        
                    }

                });
            }
            else {
                document.getElementById('inputAddTeg').style.display = "";
            }            
        }

        function removeTeg(obj) {
            var teg = $(obj).parent().attr('id');
            console.log("1 delete teg", $(obj).parent().attr('id'));
            
            var data = {
                removeTeg: teg
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveTegs", "Edit")',
                dataType: "text",
                data: data,
                success: function (d) {
                    console.log("2 delete teg", d);
                    $('#tegs').replaceWith(d);
                    
                }

            });
        }

        $("#tegs").ready(function () {
            //console.log("1 ready tegs");
            $.ajax({
                url: '@Url.Action("Tegs", "Edit")',
                type: "GET",
                success: function (d) {
                    //console.log("2 ready tegs");
                    $('#tegs').replaceWith(d);
                    //console.log("2 ready tegs", d);

                },
                error: function (er) {
                    // alert(er);
                }

            });
        });
    </script>
}
