@using System.Web.Mvc.Html;
@model MvcApplication1.Models.ProfileModel

@{
    ViewBag.Title = "Profile";
}

<h2>Профіль</h2>
@*@Html.ActionLink("Редагувати", "ForProfileEditing")*@
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Мої статті", "MyArticle", FormMethod.Get)</li>
        <li>@Html.ActionLink("Заявки", "Requests", FormMethod.Get)</li>
        <li>@Html.ActionLink("Знайти однодумців", "FindAssosiates", FormMethod.Get)</li>
    </ul>
</nav>

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @*@{Html.EnableUnobtrusiveJavaScript(true);}*@
        
        <fieldset>
            <legend>ProfileModel</legend>
            @using (Html.BeginForm("UploadPhoto", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="upload" /><br>
                <input type="submit" value="Загрузить" />
                //@Html.DisplayFor(m => m.UserPhoto)
                @*@Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
            + Convert.ToBase64String(Model.UserPhoto) + "\" />")*@
                @*@Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                + ((Model.UserPhoto!=null)?Convert.ToBase64String(Model.UserPhoto):"q") + "\" />")*@
            }
           @Html.LabelFor(model => model.Name)

            <p>
                Знайти ментора
            </p>
            @Html.TextBoxFor(m => m.TextSearhAssistants, new { @placeholder = "Знайти ментора" })
            <p>
                @*@Html.ListBoxFor(model => model.SelectedTeg, Model.TegList, new { size = 5 })*@
            </p>
            

            <p>
                @Html.LabelFor(model => model.MyTegs)
            </p>
            @Html.LabelFor(model => model.About_me)
            @Html.ValidationMessageFor(model => model.About_me)
</fieldset>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
