@using System.Web.Mvc.Html;
@model MvcApplication1.Models.ProfileModel

@{
    ViewBag.Title = "Профіль";
}

<h2>Профіль</h2>
@Html.ActionLink("Редагувати", "ForProfileEditing")
<nav>
    <ul id="menu">
                <li>@Html.ActionLink("Мої статті", "MyArticle", FormMethod.Get)</li>
        <li>@Html.ActionLink("Заявки", "Requests", FormMethod.Get)</li>
        <li>@Html.ActionLink("Знайти однодумців", "FindAssosiates", FormMethod.Get)</li>
        <p>
            Знайти ментора
            @Html.TextBoxFor(m => m.TextSearhAssistants, new { @placeholder = "Знайти ментора" })
        </p>
    </ul>
</nav>
<div>
    @using (Html.BeginForm("UploadPhoto", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @*@{Html.EnableUnobtrusiveJavaScript(true);}*@
        
        <fieldset>
            <legend>ProfileModel</legend>
            @*@if (Model.UserPhoto != null) {
            @Html.Raw("<img style='width:160px; height:120px;' src=\"data:image/jpeg;base64,"
                + Convert.ToBase64String(Model.UserPhoto) + "\" />")<br />
            }
            @if (Model.UserPhoto == null)
            {
                <img style='width:320px; height:240px;' src='Images/userphoto2.jpg' alt="фото" /><br />
            }*@
            <img style='width:320px; height:240px;' src='Images/userphoto2.jpg' alt="фото" /><br />
            <input type="file" name="upload" />
            <input type="submit" value="Завантажити" />
            @*@Html.DisplayFor(m => m.UserPhoto, Model.UserPhoto)*@
            
            @*<img src="@Server.MapPath("/Images/short.jpg")" alt="фото" />*@

            @*@Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                + ((Model.UserPhoto!=null)?Convert.ToBase64String(Model.UserPhoto):"q") + "\" />")*@
        </fieldset>
    }
    @using (Html.BeginForm("Index", "Profile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
            
        @Html.ValidationSummary(true)
            @Html.TextBoxFor(m => m.TextSearhAssistants, new { @placeholder = "Знайти ментора" })
        <fieldset>
            <legend>ProfileModel</legend>
            <p>
            <h2>Ім'я</h2>
            @*@Html.LabelFor(model => model.Name, Model.Name)*@
            </p>
                @*@Html.ListBoxFor(model => model.SelectedTeg, Model.TegList, new { size = 5 })*@
            
            <div>

                <p><h3>Мої теги</h3>
               @*     @Html.LabelFor(model => model.MyTegs, Model.MyTegs)*@
                </p>
            </div>
            <h3>Про мене</h3>
            @*@Html.LabelFor(model => model.About_me, Model.About_me)*@
            
            
</fieldset>
    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
