@model MvcApplication1.Models.ArticleModel
@{
    ViewBag.Title = "Статті";
}
<h2>Мої статті</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Профіль", "Index", FormMethod.Get)</li>
        <li>@Html.ActionLink("Заявки", "LoadStudentRequests", "Requests")</li>
        <li>@Html.ActionLink("Знайти однодумців", "FindAssosiates", FormMethod.Get)</li>
    </ul>
</nav>

@using (Html.BeginForm("CreateArticle", "Profile", FormMethod.Get))
{
    <p>
        <button>Створити статтю</button>
    </p>
}
@using (Html.BeginForm("EditArticle", "Profile", FormMethod.Post))
{ 
    <br />    
    @Html.ListBoxFor(m => m.articleName, Model.articleNames, new { size = 3, style = "width:300px; height:100px;" })
    <p>
        <button>Редагувати статтю</button>
    </p>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
