<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        <title>@ViewBag.Title - EasyHelp</title>
        <link href="~/Iconsmind-Outline-Handshake.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        
        @Styles.Render("~/Content/font-awesome.css")
        @Scripts.Render("~/bundles/modernizr")
        
        @Styles.Render("~/Content/css")
        

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="">
                    <p class="site-title">@Html.ActionLink("EasyHelp", "Index", "Home")</p>
                </div>
                <div class="">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    
                    <nav>
                        <ul class="nav nav-tabs" role="tablist">
                            <div class="slider"></div>
                            <li class="li-home active">@Html.ActionLink("Головна", "Index", "Home")</li>
                            <li class="li-profile">@Html.ActionLink("Профіль", "Index", "Profile")</li>
                            <li class="li-article">@Html.ActionLink("Мої статті", "Index", "Article")</li>
                            <li class="li-request">@Html.ActionLink("Заявки", "LoadStudentRequests", "Requests")</li>

                            <div id="chat-menu-item">
                                <div>
                                    @Html.ActionLink("Чат", "ChatFullScreen", "Chat")
                                    <select id="interlocutorsList"></select>
                                    <div id="usersForChat" class="dropdown dropleft" style="display:none;"></div>
                                </div>
                            </div>
                    </ul>
                    </nav>

                    <script src="@Url.Content("~/Scripts/main-menu.js")" type="text/javascript"></script>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Lyuda&Kate</p>
                </div>
            </div>
        </footer>

        @*@Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
