<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Cache-control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        <title>@ViewBag.Title - EasyHelp</title>
        <link href="~/Iconsmind-Outline-Handshake.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        
        @Styles.Render("~/Content/font-awesome.css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/css")
        

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("EasyHelp", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                            <li>@Html.ActionLink("Профіль", "Index", "Profile")</li>
                            <li>@Html.ActionLink("Про нас", "About", "Home")</li>
                            
                            <li class="my1">@Html.ActionLink("Мої статті", "MyArticle", FormMethod.Get)</li>

                            <li>@Html.ActionLink("Заявки", "LoadStudentRequests", "Requests")</li> @*возможно тут нужно сделать проверку является ли пользователь ментрорм,
        если да - вызывать LoadMentorRequests*@


                            <li>
                                <a id="usersForChatLink" class="btn btn-secondary dropdown-toggle" href="/Chat/ChatFullScreen" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Чат
                                </a>
                                @*<div class="dropdown show" >
                                    <a id="usersForChatLink" class="btn btn-secondary dropdown-toggle" href="/Chat/ChatFullScreen" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Чат
                                    </a>
                                    <div id="usersForChat">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>*@
                            </li>
                            <li>@Html.ActionLink("Знайти однодумців", "Index", "FindAssosiates")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Lyuda&Kate</p>
                </div>
            </div>
        </footer>

        @*@Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
