@model MvcApplication1.Models.ProfileModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProfileModel</legend>
        @using (Html.BeginForm("Index", "Profile", FormMethod.Post))
        {
            
            
            @Html.TextAreaFor(model => model.About_me, new { @placeholder = "About me", @id = "area_about_me", style = "visibility:hidden" })
            @Html.ValidationMessageFor(model => model.About_me)
            <p>
                
                @*<div class="@((Model.flag_about_me)?"visible-item":"hidden-item")">Some links</div>*@
                
                

                <button id="save_about_me" onclick="hide_about_me(this)" style="visibility:hidden">Save</button>
                @*<input id="about_me" type="submit" value="Save" onclick="hideme(this)"/>*@
                <script type='text/javascript'>

                    
                    function hide_about_me(obj) {
                        //obj.parentNode.style.display = "none";
                        document.getElementById("save_about_me").style.visibility = "hidden";
                        document.getElementById("area_about_me").style.visibility = "hidden";
                        //document.getElementById("area_about_me").style.display = "none";
                    }
                </script>
            </p>
        }       
       
    </fieldset>
}
<button id="edit_about_me" onclick="show_about_me(this)">Edit</button>

<script type='text/javascript'>

    function show_about_me(obj){
        document.getElementById("save_about_me").style.visibility = "visible";
        document.getElementById("area_about_me").style.visibility = "visible";
    }

 
</script>

</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
