@model MvcApplication1.Models.RequestModel
@{
    ViewBag.Title = "Створення заявки";
}

<h2>Створення заявки</h2>
@using (Html.BeginForm("SaveReqest", "Requests", FormMethod.Post))
{
    <p>
        <h3>Заголовок заявки</h3>
        @Html.TextBoxFor(model => model.requestName, new { @placeholder = "Навза заявки" })
        @Html.ValidationMessageFor(model => model.requestName, "Введіть назву заявки.")
    </p>
    <h3>Текст заявки</h3>
    @Html.TextAreaFor(model => model.requestText, new { @placeholder = "Текст заявки" })

    <p>

        <button type="submit" name="action" value="saveToDraft">Створити</button>
    </p>
    @Html.TextBoxFor(model => model.requestId, new { @style = "visibility:hidden;" })
    @Html.TextBoxFor(model => model.TegList, new { @style = "visibility:hidden;" })
    @Html.TextBoxFor(model => model.requestState, new { @style = "visibility:hidden;" })
}
<div>
    @Html.ActionLink("Назад", "LoadStudentRequests")
</div>