@model List<MvcApplication1.Models.RequestModel>
@{
    ViewBag.Title = "Requests";
}

<h2>Заявки</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Профіль", "Index", "Profile")</li>
        <li>@Html.ActionLink("Чат", "Index", "Chat")</li>
        <li>@Html.ActionLink("Мої статті", "MyArticle", "Profile")</li>
    </ul>
</nav>

<ul class="nav nav-tabs">
    <li class="nav-item active">
        @Html.ActionLink("Відкриті", "MentorAvailableRequests", "Requests", new { @class = "nav-link active" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Вирішені", "MentorResolvedRequests", "Requests", new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Закриті", "MentorCanceledRequests", "Requests", new { @class = "nav-link" })
    </li>
</ul>
<div>
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th colspan="2">Заявка</th>
                <th>Стан</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <td>
                        @t.requestName
                    </td>
                    <td>
                        <ul class="nav justify-content-center">
                            <li class="nav-item active">
                                @Html.ActionLink("Детальніше", "AboutRequest", "Requests", new { requestId = t.requestId }, new { @class = "nav-link" })
                            </li>
                        </ul>
                    </td>
                    <td>
                        @t.requestState
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>