@model List<MvcApplication1.Models.RequestModel>
@{
    ViewBag.Title = "Requests";
}

<h2>Заявки</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Профіль", "Index", "Profile")</li>
        <li>@Html.ActionLink("Чат", "Index", "Chat")</li>
        <li>@Html.ActionLink("Мої статті", "MyArticle", "Profile")</li>
        <li>@Html.ActionLink("Знайти однодумців", "Index", "FindAssosiates")</li>
    </ul>
</nav>

@using (Html.BeginForm("CreateRequest", "Requests", FormMethod.Get))
{
    <p>
        <button>Створити заявку</button>
    </p>
}

<nav>@Html.ActionLink("Активні", "LoadStudentRequests", "Requests")
    | @Html.ActionLink("Розв'язані", "ResolvedRequests", "Requests")
    | @Html.ActionLink("Скасовані", "CanceledRequests", "Requests")
</nav>
<div>
    <table cellspacing="2" border="1" cellpadding="5" width="600">
        @foreach (var t in Model)
        {
            <tr>
                <td>
                    @t.requestName
                   
                        @if (t.requestState == "request not resolved")
                        {
                            <nav>
                                @Html.ActionLink("Позначити як вирішену", "MarkAsResolved", "Requests", new { requestId = t.requestId }, null)
                                | @Html.ActionLink("Скасувати", "MarkAsCanceled", "Requests", new { requestId = t.requestId }, null)
                                |@Html.ActionLink("Редагувати заявку", "EditRequest", "Requests", new { requestId = t.requestId }, null)
                            </nav>
                        }                    
                </td>
                <td>
                    @t.requestState
                </td>
            </tr>
        }
    </table>
</div>
