@model List<MvcApplication1.Models.RequestModel>
@{
    ViewBag.Title = "Requests";
}

<h2>Заявки</h2>
<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Профіль", "Index", "Profile")</li>
        <li>@Html.ActionLink("Чат", "Index", "Chat")</li>
        <li>@Html.ActionLink("Мої статті", "MyArticle", "Profile")</li>
        <li>@Html.ActionLink("Знайти однодумців", "Index", "FindAssosiates")</li>
    </ul>
</nav>

@using (Html.BeginForm("CreateRequest", "Requests", FormMethod.Get))
{
    <p>
        <button type="button" class="btn btn-primary btn-sm">Створити заявку</button>
    </p>
}
<ul class="nav nav-tabs">
    <li class="nav-item active">
        @Html.ActionLink("Активні", "LoadStudentRequests", "Requests", new { @class="nav-link active" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Розв'язані", "ResolvedRequests", "Requests", new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Скасовані", "CanceledRequests", "Requests", new { @class = "nav-link" })
    </li>
</ul>
<div>
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th colspan="2">Заявка</th>
                <th>Стан</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>
                    @t.requestName

                    @*@if (t.requestState == "request not resolved")*@
                </td>
                <td>
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                            @Html.ActionLink("Позначити як вирішену", "MarkAsResolved", "Requests", new { requestId = t.requestId }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Скасувати", "MarkAsCanceled", "Requests", new { requestId = t.requestId }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Редагувати заявку", "EditRequest", "Requests", new { requestId = t.requestId }, new { @class = "nav-link" })
                        </li>
                    </ul>
                </td>

                <td>
                    @t.requestState
                </td>
            </tr>
        }
        </tbody>
</table>
</div>
